
#root {
  margin-top: 15px
}


/* --------------- Global Styles --------------- */
.center {
  margin: auto;
  width: 50%;
}


/* --------------- Components --------------- */
.App {
  background-color: red;
}

.home {
  justify-content: center;
  align-items: center;
  display: flex;
  min-height: 500px;
}


/* --------------- Main ---------------*/
.Main {
  margin-top: 50px;
}

.main-container {
  background-color: #d3e4d7;
  box-sizing: border-box;
  margin: 5px 20px;
  border-radius: 20px;
  padding: 20px 5px;
  min-height: 500px;
}


/* --------------- Nav Bar --------------- */
.Navbar {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  margin: 2px 40px;
  margin-bottom: 15px;
  flex-wrap: wrap;
}

.navbar-login {
  height: 50.75px;
  color: black !important;
  background-color: rgb(244, 244, 244) !important;
}

.navbar-login:hover { 
  background-color:  rgba(167, 179, 155, 0.4) !important;
}

.navbar-submit-button {
  height: 50.75px;
  /* min-height: 1.4375em; */
  color: black !important;
  border-color: black !important;
}

.navbar-submit-button:hover {
  border-color: rgb(167, 179, 155) !important;
}

.navForm {
  display: flex;
  flex-wrap: wrap;
}

.navForm div {
  margin-bottom: 5px;
}


/* --------------- Cards --------------- */
.cardDisplay {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  border: black solid 1px;
  border-radius: 5px;
  margin: 5px;
  padding-left: 15px;
  flex-basis: calc(25% - 10px); /* Adjust the percentage as needed */
  height: 100%;
}

.card img {
  height: 200px;
  width: 300px;
}

.login, .signup {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 500px;
}


/*  --------------- Login Form --------------- */
.login-form, .signup-form, .navbar-submit {
  display: flex;
  align-items: baseline;
}

.login-redirect, .signup-redirect {
  padding: 10px;
}

.login-button, .signup-button {
  /* min-height: 1.4375em; */
  color: black !important;
  border-color: black !important;
}

#googOAUTH {
  margin-top: 20px;
}

/* --------------- Signup --------------- */
.signup-redirect {
  margin-top: 15px;
  font-size: 16px;
}

.error-message {
  font-size: 13px;
  font-style: italic;
  color: darkred;
  margin-top: 4px;
  margin-bottom: 0;
}


/* --------------- Favorite Icon --------------- */
.favoriteIcon {
  margin-right: 8px !important;
}

.favoriteIcon:hover {
  color: #c22525;
}


/* --------------- Loading --------------- */
.loading-message {
  font-size: 50px;
  margin: 10px 250px;
  text-align: center;
}

.loadingContainer {
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* --------------- User --------------- */
.userIcon {
  /* border: 2px solid rgba(0, 0, 0, 0.57); */
  box-shadow: 0px 0px 1px 4px rgba(0,0,0,0.2);
  color: rgba(0, 0, 0, 0.77);
  border-radius: 100%;
  padding: 2px 15px;
  font-weight: 800;
  font-size: 30px;
  background-color: transparent;
  vertical-align: middle;
}

.userIcon:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

.userControls {
  display: flex;
  flex-wrap: nowrap;
  height: fit-content;
  margin-right: 10px;
}

.profile-pic {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

